In [1]:
import pandas as pd 
import numpy as np
import glob
import os
import re
import matplotlib.pyplot as plt 
from datetime import datetime, timedelta
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
#from pydrive.auth import GoogleAuth
#from pydrive.drive import GoogleDrive

Informal ReadMe: 
- My top priority is not scalabilty (yet) 
-

In [2]:
# Michael's Advice: 
    # One df per patient
    # Pivot? Get dummies?
    # Rolling Window   !!! Ben said 3 second window is best
    
# JM's Advice: 
    # Write a function to bring in all the data
    # Have it make a patient column and doc column
    # But getting an MVP could be super useful too. 
        # So if you want to try the experiment on pt 1, that's good too.

# Experimentation with patient #1

CPG #1

In [3]:
CPG1 = pd.read_csv('Barretts_Analysis/CPG/001 CPG.csv', skiprows = 7).fillna(' ')
# Maybe don't need fillna()

# Create a new variable called 'header' from the first row of the dataset
header = CPG1.iloc[0]
header = header.str.replace('\n', ' ')
CPG1 = CPG1.rename(columns = header)
CPG1 = CPG1[1:]

CPG1 = CPG1.drop(columns = ['Position from LES (cm)', 'BCT (sec)', 'pH Delta (pH)', 'ACT (sec)'])

CPG1 = CPG1[CPG1["Meas Type"].str.contains("MII")]
CPG1 = CPG1.rename(columns={'Meas Start Time': 'CPG Start Time'})

In [4]:
Auto1 = pd.read_csv('Barretts_Analysis/Autoscan/001 Autoscan.csv', skiprows = 7).fillna(' ')
# Maybe don't need fillna()

# Create a new variable called 'header' from the first row of the dataset
header = Auto1.iloc[0]
header = header.str.replace('\n', ' ')
Auto1 = Auto1.rename(columns = header)
Auto1 = Auto1[1:]

Auto1 = Auto1.drop(columns = ['Position from LES (cm)', 'BCT (sec)', 'pH Delta (pH)', 'ACT (sec)'])

Auto1 = Auto1[Auto1["Meas Type"].str.contains("MII")]
Auto1 = Auto1.rename(columns={'Meas Start Time': 'Auto Start Time'})

CPG1['MII Reflux'].value_counts()

CPG1

Auto1

In [5]:
Auto1.shape

(39, 8)

# Test 1: merge

TestCPGAuto = pd.merge(CPG1, Auto1, how = 'outer')
# Ugly result

# I'm missing rows now (a lot of them) and all these NaN's were thrown in.

# Test 2: Concatenating CPG + Auto - Patient 1

In [6]:
TestCPGAuto2 = pd.concat([CPG1, Auto1], axis = 1).fillna('').drop(columns = {'Meas Type', 'Body Position', 'Contents'})

TestCPGAuto2

In [7]:
TestCPGAuto2.shape

(63, 10)

In [8]:
# If you have a Doc column again and stack vertically, you could sort by start time. 
# Probably need Start Day and Start Time re.split

In [9]:
TestCPGAuto2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63 entries, 1 to 377
Data columns (total 10 columns):
Meas                 63 non-null object
CPG Start Time       63 non-null object
MII Reflux           63 non-null object
pH Classification    63 non-null object
                     63 non-null object
Meas                 63 non-null object
Auto Start Time      63 non-null object
MII Reflux           63 non-null object
pH Classification    63 non-null object
                     63 non-null object
dtypes: object(10)
memory usage: 5.4+ KB

# Test 3: Concatenate vertically - CPG, Auto - Patient 1

In [10]:
CPG1b = pd.read_csv('Barretts_Analysis/CPG/001 CPG.csv', skiprows = 7).fillna(' ')
# Maybe don't need fillna()

# Create a new variable called 'header' from the first row of the dataset
header = CPG1b.iloc[0]
header = header.str.replace('\n', ' ')
CPG1b = CPG1b.rename(columns = header)
CPG1b = CPG1b[1:]

CPG1b = CPG1b.drop(columns = ['Position from LES (cm)', 'BCT (sec)', 'pH Delta (pH)', 'ACT (sec)'])

CPG1b = CPG1b[CPG1b["Meas Type"].str.contains("MII")]
CPG1b['Doc'] = 'CPG'

Auto1b = pd.read_csv('Barretts_Analysis/Autoscan/001 Autoscan.csv', skiprows = 7).fillna(' ')
# Maybe don't need fillna()

# Create a new variable called 'header' from the first row of the dataset
header = Auto1b.iloc[0]
header = header.str.replace('\n', ' ')
Auto1b = Auto1b.rename(columns = header)
Auto1b = Auto1b[1:]

Auto1b = Auto1b.drop(columns = ['Position from LES (cm)', 'BCT (sec)', 'pH Delta (pH)', 'ACT (sec)'])

Auto1b = Auto1b[Auto1b["Meas Type"].str.contains("MII")]
Auto1b['Doc'] = 'Auto'

CPG1b

In [11]:
TestCPGAuto3 = pd.concat([CPG1b, Auto1b]).fillna('').drop(columns = {'Meas Type', 'Body Position', 'Contents'})

In [12]:
TestCPGAuto3

         Meas Meas Start Time MII Reflux pH Classification      Doc
1     Meas 1:    1/16:42:24.0     Reflux              Acid      CPG
12    Meas 4:    1/16:46:55.6     Reflux              Acid      CPG
21    Meas 6:    1/16:57:22.0     Reflux              Acid      CPG
30    Meas 8:    1/18:08:27.0     Reflux           NonAcid      CPG
36    Meas 9:    1/18:32:44.0     Reflux              Acid      CPG
..        ...             ...        ...               ... ..   ...
329  Meas 80:    2/11:57:13.0     Reflux              Acid     Auto
341  Meas 83:    2/12:08:02.6  No Reflux          Needs pH     Auto
349  Meas 86:    2/12:18:02.0     Reflux              Acid     Auto
365  Meas 91:    2/12:32:51.0     Reflux              Acid     Auto
377  Meas 94:    2/13:13:34.0     Reflux              Acid     Auto

[76 rows x 6 columns]

In [13]:
TestCPGAuto3.Doc.value_counts()

Auto    39
CPG     37
Name: Doc, dtype: int64

Remember: 
    # If you have a Doc column again and stack vertically, you could sort by start time. 
    # Probably need Start Day and Start Time re.split

# ignore 

pd.set_option('display.max_rows', 76)

# df.sort_values(by='Date')

TestCPGAuto3.sort_values(by = 'Meas Start Time').reset_index().rename(columns = {'index': 'Old Index'})

* Could I write a function to read in the files and label them with the patient number? And Doc name?

* Do I still need to split the start time? Should it be a datetime object? 

* Could you do ML to find out who is predicting better? Reflux = 1, No Reflux = 0

# Try to bring in all data & label accordingly

In [14]:
import pandas as pd
import glob

path = 'Barretts_Analysis/'
next_path = glob.glob(path + "*")
#all_files = glob.glob(next_path + "/*.csv")



# for filename in all_files:
#     df = pd.read_csv(filename, index_col=None, header=0)
#     li.append(df)

# frame = pd.concat(li, axis=0, ignore_index=True)
# command + ? = BIG comment

li = []

for some_path in next_path: 
    #print(some_path) 
    if some_path == 'Barretts_Analysis/AI': 
        continue
    else: 
        for file in glob.glob(some_path + "/*.csv"):
            #print(file)
            df = pd.read_csv(file, index_col=None, header=0, skiprows = 7).fillna('-')
            header = df.iloc[0]
            header = header.str.replace('\n', ' ')
            df = df.rename(columns = header)
            df = df[1:]
            df = df.drop(columns = ['Position from LES (cm)', 'BCT (sec)', 'pH Delta (pH)', 'ACT (sec)'])
            df = df[df["Meas Type"].str.contains("MII")]
            #df['patient_number'] = file.replace('/', ' ')
            df['z_filename'] = file.replace(' ', '-')
            #df['z_filename'] = df['z_filename'].dropna()
            #print(df.head())
            li.append(df)
        
frame = pd.concat(li, axis=0, ignore_index=True)
# command + ? = BIG comment

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:39: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

frame

frame.shape

But I don't have my doc name or patient number....!

In [15]:
frame.z_filename.value_counts()

Barretts_Analysis/Autoscan/019-Autoscan.csv    197
Barretts_Analysis/ES/019-ES.csv                189
Barretts_Analysis/SR/019-SR.csv                171
Barretts_Analysis/MF/019---MF.csv              157
Barretts_Analysis/ES/015-ES.csv                153
                                              ...
Barretts_Analysis/DS/001-DS.csv                 37
Barretts_Analysis/SR/001-SR.csv                 37
Barretts_Analysis/CPG/001-CPG.csv               37
Barretts_Analysis/MF/001---MF.csv               31
Barretts_Analysis/CPG/007-CPG.csv               25
Name: z_filename, Length: 115, dtype: int64

In [16]:
frame.z_filename[0]

'Barretts_Analysis/Autoscan/019-Autoscan.csv'

In [17]:
frame[['patient_num','doc', 'None', 'None']] = frame.z_filename.str.split("-",expand=True)

In [18]:
frame[['folder1', 'doctor', 'patient']] = frame.patient_num.str.split('/', expand = True).replace('')

In [19]:
frame['patient2'] = frame.patient_num.str.extract('(\d+)').astype(int)

In [20]:
frame = frame.drop(columns = {'Meas Type', 'Body Position', 'Contents', 'patient_num', 'doc', 'None', 'folder1', 'z_filename', 'patient', '-'})

In [21]:
frame

,MII Reflux,Meas,Meas Start Time,pH Classification,doctor,patient2
0,Reflux,Meas 1:,1/6:58:52.0,NonAcid,Autoscan,19
1,Reflux,Meas 2:,1/7:17:45.0,Acid,Autoscan,19
2,Reflux,Meas 3:,1/7:44:58.0,NonAcid,Autoscan,19
3,Reflux,Meas 4:,1/7:46:44.0,NonAcid,Autoscan,19
4,Reflux,Meas 5:,1/7:48:10.0,NonAcid,Autoscan,19
...,...,...,...,...,...,...
9086,Reflux,Meas 116:,2/9:12:11.0,Acid,ES,13
9087,Reflux,Meas 118:,2/9:22:21.0,Acid,ES,13
9088,Reflux,Meas 120:,2/9:26:41.0,Acid,ES,13
9089,Reflux,Meas 122:,2/10:01:51.8,Acid,ES,13
9090,Reflux,Meas 124:,2/10:22:28.7,Acid,ES,13

In [22]:
# Split meas start time and convert to datetime. Convert to 24 hour?

pd.set_option('display.max_rows', 9091)
frame

In [23]:
frame.patient2.value_counts()

19    1012
15     761
11     684
20     669
3      633
12     504
4      494
18     488
9      447
5      420
8      395
10     394
17     394
13     339
16     321
6      320
14     302
2      264
1      225
7       25
Name: patient2, dtype: int64

In [24]:
frame.doctor.value_counts()

Autoscan    1719
ES          1675
SR          1536
CPG         1453
DS          1376
MF          1332
Name: doctor, dtype: int64

In [25]:
frame[['Meas Start Day', 'Meas Start Time']] = frame['Meas Start Time'].str.split("/",expand=True)

In [26]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9091 entries, 0 to 9090
Data columns (total 7 columns):
MII Reflux           9091 non-null object
Meas                 9091 non-null object
Meas Start Time      9091 non-null object
pH Classification    9091 non-null object
doctor               9091 non-null object
patient2             9091 non-null int64
Meas Start Day       9091 non-null object
dtypes: int64(1), object(6)
memory usage: 497.3+ KB

In [27]:
# maybe 

# frame['Meas Start Time 2'] = pd.to_datetime(frame['Meas Start Time'], format = '%H:%M:%S.%f')
#frame['Meas Start Time 2'] = pd.to_datetime(frame['Meas Start Time'])

# ignore 

frame['date_only'] = frame['Meas Start Time 2'].dt.date
frame['time_only'] = pd.to_timedelta(frame['Meas Start Time 2'])

In [28]:
frame

,MII Reflux,Meas,Meas Start Time,pH Classification,doctor,patient2,Meas Start Day
0,Reflux,Meas 1:,6:58:52.0,NonAcid,Autoscan,19,1
1,Reflux,Meas 2:,7:17:45.0,Acid,Autoscan,19,1
2,Reflux,Meas 3:,7:44:58.0,NonAcid,Autoscan,19,1
3,Reflux,Meas 4:,7:46:44.0,NonAcid,Autoscan,19,1
4,Reflux,Meas 5:,7:48:10.0,NonAcid,Autoscan,19,1
...,...,...,...,...,...,...,...
9086,Reflux,Meas 116:,9:12:11.0,Acid,ES,13,2
9087,Reflux,Meas 118:,9:22:21.0,Acid,ES,13,2
9088,Reflux,Meas 120:,9:26:41.0,Acid,ES,13,2
9089,Reflux,Meas 122:,10:01:51.8,Acid,ES,13,2
9090,Reflux,Meas 124:,10:22:28.7,Acid,ES,13,2

# ignore 

frame = frame.drop(columns = {'date_only'})
#frame = frame.drop(columns = {'Meas Start Time 2'})

In [29]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9091 entries, 0 to 9090
Data columns (total 7 columns):
MII Reflux           9091 non-null object
Meas                 9091 non-null object
Meas Start Time      9091 non-null object
pH Classification    9091 non-null object
doctor               9091 non-null object
patient2             9091 non-null int64
Meas Start Day       9091 non-null object
dtypes: int64(1), object(6)
memory usage: 497.3+ KB

# ignore 

df['normalised_date'] = df['dates'].dt.normalize()

frame['Meas Start Time 2'][0]

In [30]:
#frame['Meas Start Time 2'].str.strip('T00:00:00')

In [31]:
frame

,MII Reflux,Meas,Meas Start Time,pH Classification,doctor,patient2,Meas Start Day
0,Reflux,Meas 1:,6:58:52.0,NonAcid,Autoscan,19,1
1,Reflux,Meas 2:,7:17:45.0,Acid,Autoscan,19,1
2,Reflux,Meas 3:,7:44:58.0,NonAcid,Autoscan,19,1
3,Reflux,Meas 4:,7:46:44.0,NonAcid,Autoscan,19,1
4,Reflux,Meas 5:,7:48:10.0,NonAcid,Autoscan,19,1
...,...,...,...,...,...,...,...
9086,Reflux,Meas 116:,9:12:11.0,Acid,ES,13,2
9087,Reflux,Meas 118:,9:22:21.0,Acid,ES,13,2
9088,Reflux,Meas 120:,9:26:41.0,Acid,ES,13,2
9089,Reflux,Meas 122:,10:01:51.8,Acid,ES,13,2
9090,Reflux,Meas 124:,10:22:28.7,Acid,ES,13,2

# Dibran's code for shifting

In [39]:
frame['Meas Start TimeStamp'] = pd.to_datetime(frame['Meas Start Time'])
frame['3_second_shift'] = frame['Meas Start TimeStamp'] + timedelta(seconds = -3)
frame['3_second_shift_forward'] = frame['Meas Start TimeStamp'] + timedelta(seconds = 3)
frame['3_second_target'] = 0
new_frame = frame.groupby('doctor')

In [40]:
%%time
filtered_rows = pd.DataFrame([])
for k in new_frame.groups.keys():
    data = new_frame.get_group(k)
    for x, y in data.iterrows():
        if y['MII Reflux'] =='Reflux':
            the_only_hope = data[(data['Meas Start TimeStamp'] > y['3_second_shift'])&
                              (data['Meas Start TimeStamp'] < y['Meas Start TimeStamp'])]
        else: 
            continue
    filtered_rows = filtered_rows.append(the_only_hope)

CPU times: user 20.7 s, sys: 405 ms, total: 21.1 s
Wall time: 24.6 s

In [49]:
frame.head()

,MII Reflux,Meas,Meas Start Time,pH Classification,doctor,patient2,Meas Start Day,Meas Start TimeStamp,3_second_shift,3_second_target,3_second_shift_forward
0,Reflux,Meas 1:,6:58:52.0,NonAcid,Autoscan,19,1,2020-05-14 06:58:52,2020-05-14 06:58:49,0,2020-05-14 06:58:55
1,Reflux,Meas 2:,7:17:45.0,Acid,Autoscan,19,1,2020-05-14 07:17:45,2020-05-14 07:17:42,0,2020-05-14 07:17:48
2,Reflux,Meas 3:,7:44:58.0,NonAcid,Autoscan,19,1,2020-05-14 07:44:58,2020-05-14 07:44:55,0,2020-05-14 07:45:01
3,Reflux,Meas 4:,7:46:44.0,NonAcid,Autoscan,19,1,2020-05-14 07:46:44,2020-05-14 07:46:41,0,2020-05-14 07:46:47
4,Reflux,Meas 5:,7:48:10.0,NonAcid,Autoscan,19,1,2020-05-14 07:48:10,2020-05-14 07:48:07,0,2020-05-14 07:48:13

frame = frame.sort_values(by=['patient2'])
frame

In [72]:
frame['Meas Start Day'] = frame['Meas Start Day'].astype('int64')

In [81]:
frame = frame.sort_values(["patient2", "Meas Start Day", "Meas Start Time"], ascending = (True, True, True))
frame.head(50)
# consider using 4 seconds instead of 3

,MII Reflux,Meas,Meas Start Time,pH Classification,doctor,patient2,Meas Start Day,Meas Start TimeStamp,3_second_shift,3_second_target,3_second_shift_forward
8514,Reflux,Meas 1:,16:12:40.4,MinorAcid,ES,1,1,2020-05-14 16:12:40.400,2020-05-14 16:12:37.400,0,2020-05-14 16:12:43.400
5941,Reflux,Meas 5:,16:12:40.5,NonAcid,SR,1,1,2020-05-14 16:12:40.500,2020-05-14 16:12:37.500,0,2020-05-14 16:12:43.500
5586,Reflux,Meas 1:,16:35:31.0,NonAcid,DS,1,1,2020-05-14 16:35:31.000,2020-05-14 16:35:28.000,0,2020-05-14 16:35:34.000
705,Reflux,Meas 1:,16:35:31.0,NonAcid,Autoscan,1,1,2020-05-14 16:35:31.000,2020-05-14 16:35:28.000,0,2020-05-14 16:35:34.000
5587,Reflux,Meas 2:,16:42:24.0,Acid,DS,1,1,2020-05-14 16:42:24.000,2020-05-14 16:42:21.000,0,2020-05-14 16:42:27.000
8515,Reflux,Meas 2:,16:42:24.0,Acid,ES,1,1,2020-05-14 16:42:24.000,2020-05-14 16:42:21.000,0,2020-05-14 16:42:27.000
1828,Reflux,Meas 9:,16:42:24.0,Acid,MF,1,1,2020-05-14 16:42:24.000,2020-05-14 16:42:21.000,0,2020-05-14 16:42:27.000
3912,Reflux,Meas 1:,16:42:24.0,Acid,CPG,1,1,2020-05-14 16:42:24.000,2020-05-14 16:42:21.000,0,2020-05-14 16:42:27.000
706,Reflux,Meas 2:,16:42:24.0,Acid,Autoscan,1,1,2020-05-14 16:42:24.000,2020-05-14 16:42:21.000,0,2020-05-14 16:42:27.000
5942,Reflux,Meas 10:,16:42:24.0,Acid,SR,1,1,2020-05-14 16:42:24.000,2020-05-14 16:42:21.000,0,2020-05-14 16:42:27.000
3913,Reflux,Meas 4:,16:46:55.6,Acid,CPG,1,1,2020-05-14 16:46:55.600,2020-05-14 16:46:52.600,0,2020-05-14 16:46:58.600
5943,Reflux,Meas 12:,16:47:05.5,Acid,SR,1,1,2020-05-14 16:47:05.500,2020-05-14 16:47:02.500,0,2020-05-14 16:47:08.500
5588,Reflux,Meas 5:,16:47:06.9,Needs pH,DS,1,1,2020-05-14 16:47:06.900,2020-05-14 16:47:03.900,0,2020-05-14 16:47:09.900
707,Reflux,Meas 5:,16:47:10.0,Acid,Autoscan,1,1,2020-05-14 16:47:10.000,2020-05-14 16:47:07.000,0,2020-05-14 16:47:13.000
8516,Reflux,Meas 5:,16:47:10.0,Acid,ES,1,1,2020-05-14 16:47:10.000,2020-05-14 16:47:07.000,0,2020-05-14 16:47:13.000
708,Reflux,Meas 7:,16:57:22.0,Acid,Autoscan,1,1,2020-05-14 16:57:22.000,2020-05-14 16:57:19.000,0,2020-05-14 16:57:25.000
3914,Reflux,Meas 6:,16:57:22.0,Acid,CPG,1,1,2020-05-14 16:57:22.000,2020-05-14 16:57:19.000,0,2020-05-14 16:57:25.000
8517,Reflux,Meas 7:,16:57:22.0,Acid,ES,1,1,2020-05-14 16:57:22.000,2020-05-14 16:57:19.000,0,2020-05-14 16:57:25.000
5589,Reflux,Meas 7:,16:57:22.0,Acid,DS,1,1,2020-05-14 16:57:22.000,2020-05-14 16:57:19.000,0,2020-05-14 16:57:25.000
5944,Reflux,Meas 14:,16:57:22.0,Acid,SR,1,1,2020-05-14 16:57:22.000,2020-05-14 16:57:19.000,0,2020-05-14 16:57:25.000
1829,Reflux,Meas 12:,16:57:32.1,Acid,MF,1,1,2020-05-14 16:57:32.100,2020-05-14 16:57:29.100,0,2020-05-14 16:57:35.100
8518,Reflux,Meas 9:,18:08:27.0,MinorAcid,ES,1,1,2020-05-14 18:08:27.000,2020-05-14 18:08:24.000,0,2020-05-14 18:08:30.000
709,Reflux,Meas 9:,18:08:27.0,NonAcid,Autoscan,1,1,2020-05-14 18:08:27.000,2020-05-14 18:08:24.000,0,2020-05-14 18:08:30.000
3915,Reflux,Meas 8:,18:08:27.0,NonAcid,CPG,1,1,2020-05-14 18:08:27.000,2020-05-14 18:08:24.000,0,2020-05-14 18:08:30.000
5590,Reflux,Meas 9:,18:32:44.0,Acid,DS,1,1,2020-05-14 18:32:44.000,2020-05-14 18:32:41.000,0,2020-05-14 18:32:47.000
5945,Reflux,Meas 17:,18:32:44.0,Acid,SR,1,1,2020-05-14 18:32:44.000,2020-05-14 18:32:41.000,0,2020-05-14 18:32:47.000
710,Reflux,Meas 10:,18:32:44.0,Acid,Autoscan,1,1,2020-05-14 18:32:44.000,2020-05-14 18:32:41.000,0,2020-05-14 18:32:47.000
8519,Reflux,Meas 10:,18:32:44.0,Acid,ES,1,1,2020-05-14 18:32:44.000,2020-05-14 18:32:41.000,0,2020-05-14 18:32:47.000
3916,Reflux,Meas 9:,18:32:44.0,Acid,CPG,1,1,2020-05-14 18:32:44.000,2020-05-14 18:32:41.000,0,2020-05-14 18:32:47.000
1830,Reflux,Meas 14:,18:32:51.2,Acid,MF,1,1,2020-05-14 18:32:51.200,2020-05-14 18:32:48.200,0,2020-05-14 18:32:54.200
5946,Reflux,Meas 19:,18:40:56.0,Acid,SR,1,1,2020-05-14 18:40:56.000,2020-05-14 18:40:53.000,0,2020-05-14 18:40:59.000
5591,Reflux,Meas 11:,18:40:57.6,NonAcid,DS,1,1,2020-05-14 18:40:57.600,2020-05-14 18:40:54.600,0,2020-05-14 18:41:00.600
711,Reflux,Meas 12:,18:41:27.5,Acid,Autoscan,1,1,2020-05-14 18:41:27.500,2020-05-14 18:41:24.500,0,2020-05-14 18:41:30.500
3917,Reflux,Meas 11:,18:41:27.5,Acid,CPG,1,1,2020-05-14 18:41:27.500,2020-05-14 18:41:24.500,0,2020-05-14 18:41:30.500
8520,Reflux,Meas 12:,18:41:27.5,Acid,ES,1,1,2020-05-14 18:41:27.500,2020-05-14 18:41:24.500,0,2020-05-14 18:41:30.500
5592,Reflux,Meas 12:,18:41:28.7,Acid,DS,1,1,2020-05-14 18:41:28.700,2020-05-14 18:41:25.700,0,2020-05-14 18:41:31.700
1831,Reflux,Meas 16:,18:41:29.7,Acid,MF,1,1,2020-05-14 18:41:29.700,2020-05-14 18:41:26.700,0,2020-05-14 18:41:32.700
8521,Reflux,Meas 14:,18:53:01.0,Acid,ES,1,1,2020-05-14 18:53:01.000,2020-05-14 18:52:58.000,0,2020-05-14 18:53:04.000
5947,Reflux,Meas 21:,18:53:01.0,Acid,SR,1,1,2020-05-14 18:53:01.000,2020-05-14 18:52:58.000,0,2020-05-14 18:53:04.000
3918,Reflux,Meas 13:,18:53:01.0,Acid,CPG,1,1,2020-05-14 18:53:01.000,2020-05-14 18:52:58.000,0,2020-05-14 18:53:04.000
5593,Reflux,Meas 14:,18:53:01.0,Acid,DS,1,1,2020-05-14 18:53:01.000,2020-05-14 18:52:58.000,0,2020-05-14 18:53:04.000
712,Reflux,Meas 14:,18:53:01.0,Acid,Autoscan,1,1,2020-05-14 18:53:01.000,2020-05-14 18:52:58.000,0,2020-05-14 18:53:04.000
1832,Reflux,Meas 18:,18:53:09.2,Acid,MF,1,1,2020-05-14 18:53:09.200,2020-05-14 18:53:06.200,0,2020-05-14 18:53:12.200
713,Reflux,Meas 16:,19:04:10.0,Acid,Autoscan,1,1,2020-05-14 19:04:10.000,2020-05-14 19:04:07.000,0,2020-05-14 19:04:13.000
8522,Reflux,Meas 16:,19:04:10.0,Acid,ES,1,1,2020-05-14 19:04:10.000,2020-05-14 19:04:07.000,0,2020-05-14 19:04:13.000
5948,Reflux,Meas 23:,19:04:10.0,Acid,SR,1,1,2020-05-14 19:04:10.000,2020-05-14 19:04:07.000,0,2020-05-14 19:04:13.000
5594,Reflux,Meas 16:,19:04:10.0,Acid,DS,1,1,2020-05-14 19:04:10.000,2020-05-14 19:04:07.000,0,2020-05-14 19:04:13.000
3919,Reflux,Meas 15:,19:04:10.0,Acid,CPG,1,1,2020-05-14 19:04:10.000,2020-05-14 19:04:07.000,0,2020-05-14 19:04:13.000
1833,Reflux,Meas 20:,19:04:17.6,Acid,MF,1,1,2020-05-14 19:04:17.600,2020-05-14 19:04:14.600,0,2020-05-14 19:04:20.600
5595,Reflux,Meas 18:,19:05:50.3,Acid,DS,1,1,2020-05-14 19:05:50.300,2020-05-14 19:05:47.300,0,2020-05-14 19:05:53.300

In [83]:
frame = frame.reset_index(drop=True)

# ignore 

frame[frame.duplicated(['Meas Start Time'])]

# ignore 

frame[frame['Meas Start Time']=='17:46:11.0']

## sort by (patient?) then by meas time , write a func starting on first row and iterate through rows, for each row, see if next row occurs within three sec. If yes, label meas. if not, increase by one

## dont forget same day, same patient

frame.between_time(frame['3_second_shift'], frame['3_second_shift_forward'])

if current_item_time is +- 3 sec of previous_item_time: 
    and Meas Start Day == previous Meas Start Day:
        label Measurement (n)

from itertools import islice

def window(seq, n=2):
    "Returns a sliding window (of width n) over data from the iterable"
    "   s -> (s0,s1,...s[n-1]), (s1,s2,...,sn), ...                   "
    it = iter(seq)
    result = tuple(islice(it, n))
    if len(result) == n:
        yield result
    for elem in it:
        result = result[1:] + (elem,)
        yield result

In [ ]:
for item, frame in df['Meas Start TimeStamp'].iteritems():
    if next <= '00:00:03.000':
        print frame
        2020-05-14 16:12:40.400

In [ ]:
[(df[1].ge(df[1].shift())) & df[1].le(df[1].shift(-1))]

In [87]:
def read_row(df):

    if df['Meas Start Time'].current == df['Meas Start Time'].next:
        df['Meas No.']' = 1
    elif df['Meas Start Time'].next <= 3s of df['Meas Start Time'].current:
        df['Meas No.'] = '1'
    else df['Meas No.'].value = df['Meas No.'].next

SyntaxError: EOL while scanning string literal (<ipython-input-87-e3c2fe297b0b>, line 4)

In [88]:
def read_row_2(df):
    for row in df.iterrows:
        if (row['Meas Start TimeStamp'].next - row['Meas Start TimeStamp'].current).dt.total_seconds() <= 3.00:
            row['Meas No.'] = 1
        else: 
            row['Meas No.'] = row['Meas No.'] + 1

Nested loop, use groupbys instead of for loops (grupby patient and day)
Pandas.cut to do a groupby arange on time
for each group, iterate over the groups and add labels

In [91]:
by_pt_dy = frame.groupby(['patient2', 'Meas Start Day'])

for patient, startday in by_pt_dy: 
    print(f"First 2 entries for {patient!r}")
    print("------------------------")
    print(startday.head(2), end="\n\n")

First 2 entries for (1, 1)
------------------------
  MII Reflux     Meas Meas Start Time pH Classification doctor  patient2  \
0     Reflux  Meas 1:      16:12:40.4         MinorAcid     ES         1
1     Reflux  Meas 5:      16:12:40.5           NonAcid     SR         1

   Meas Start Day    Meas Start TimeStamp          3_second_shift  \
0               1 2020-05-14 16:12:40.400 2020-05-14 16:12:37.400
1               1 2020-05-14 16:12:40.500 2020-05-14 16:12:37.500

   3_second_target  3_second_shift_forward
0                0 2020-05-14 16:12:43.400
1                0 2020-05-14 16:12:43.500

First 2 entries for (1, 2)
------------------------
    MII Reflux      Meas Meas Start Time pH Classification doctor  patient2  \
149     Reflux  Meas 75:      10:38:30.0              Acid     MF         1
150     Reflux  Meas 71:      10:38:30.0              Acid    CPG         1

     Meas Start Day Meas Start TimeStamp      3_second_shift  3_second_target  \
149               2  2020-05-14 10:38:30 2020-05-14 10:38:27                0
150               2  2020-05-14 10:38:30 2020-05-14 10:38:27                0

    3_second_shift_forward
149    2020-05-14 10:38:33
150    2020-05-14 10:38:33

First 2 entries for (2, 1)
------------------------
    MII Reflux     Meas Meas Start Time pH Classification doctor  patient2  \
225     Reflux  Meas 1:      14:45:19.0           NonAcid     DS         2
226     Reflux  Meas 5:      15:36:24.0           NonAcid     SR         2

     Meas Start Day Meas Start TimeStamp      3_second_shift  3_second_target  \
225               1  2020-05-14 14:45:19 2020-05-14 14:45:16                0
226               1  2020-05-14 15:36:24 2020-05-14 15:36:21                0

    3_second_shift_forward
225    2020-05-14 14:45:22
226    2020-05-14 15:36:27

First 2 entries for (2, 2)
------------------------
    MII Reflux      Meas Meas Start Time pH Classification doctor  patient2  \
479     Reflux  Meas 89:       1:32:50.0           NonAcid     ES         2
480     Reflux  Meas 81:       1:32:50.0           NonAcid     SR         2

     Meas Start Day Meas Start TimeStamp      3_second_shift  3_second_target  \
479               2  2020-05-14 01:32:50 2020-05-14 01:32:47                0
480               2  2020-05-14 01:32:50 2020-05-14 01:32:47                0

    3_second_shift_forward
479    2020-05-14 01:32:53
480    2020-05-14 01:32:53

First 2 entries for (3, 1)
------------------------
    MII Reflux     Meas Meas Start Time pH Classification    doctor  patient2  \
489     Reflux  Meas 1:      10:37:46.0              Acid  Autoscan         3
490     Reflux  Meas 3:      10:37:46.0              Acid        SR         3

     Meas Start Day Meas Start TimeStamp      3_second_shift  3_second_target  \
489               1  2020-05-14 10:37:46 2020-05-14 10:37:43                0
490               1  2020-05-14 10:37:46 2020-05-14 10:37:43                0

    3_second_shift_forward
489    2020-05-14 10:37:49
490    2020-05-14 10:37:49

First 2 entries for (3, 2)
------------------------
     MII Reflux       Meas Meas Start Time pH Classification    doctor  \
1020     Reflux  Meas 207:       0:18:01.6              Acid        ES
1021     Reflux  Meas 192:       0:18:03.8              Acid  Autoscan

      patient2  Meas Start Day    Meas Start TimeStamp  \
1020         3               2 2020-05-14 00:18:01.600
1021         3               2 2020-05-14 00:18:03.800

              3_second_shift  3_second_target  3_second_shift_forward
1020 2020-05-14 00:17:58.600                0 2020-05-14 00:18:04.600
1021 2020-05-14 00:18:00.800                0 2020-05-14 00:18:06.800

First 2 entries for (4, 1)
------------------------
     MII Reflux     Meas Meas Start Time pH Classification doctor  patient2  \
1122     Reflux  Meas 2:      16:19:49.0           NonAcid     ES         4
1123     Reflux  Meas 1:      16:19:49.0           NonAcid    CPG         4

      Meas Start Day Meas Start TimeStamp      3_second_shift  \
1122               1  2020-05-14 16:19:49 2020-05-14 16:19:46
1123               1  2020-05-14 16:19:49 2020-05-14 16:19:46

      3_second_target 3_second_shift_forward
1122                0    2020-05-14 16:19:52
1123                0    2020-05-14 16:19:52

First 2 entries for (4, 2)
------------------------
     MII Reflux       Meas Meas Start Time pH Classification doctor  patient2  \
1446     Reflux  Meas 165:      11:02:04.1              Acid     ES         4
1447     Reflux  Meas 111:      11:02:06.8              Acid     DS         4

      Meas Start Day    Meas Start TimeStamp          3_second_shift  \
1446               2 2020-05-14 11:02:04.100 2020-05-14 11:02:01.100
1447               2 2020-05-14 11:02:06.800 2020-05-14 11:02:03.800

      3_second_target  3_second_shift_forward
1446                0 2020-05-14 11:02:07.100
1447                0 2020-05-14 11:02:09.800

First 2 entries for (5, 1)
------------------------
     MII Reflux     Meas Meas Start Time pH Classification    doctor  \
1616     Reflux  Meas 1:      11:53:14.0           NonAcid        DS
1617     Reflux  Meas 1:      11:53:14.0           NonAcid  Autoscan

      patient2  Meas Start Day Meas Start TimeStamp      3_second_shift  \
1616         5               1  2020-05-14 11:53:14 2020-05-14 11:53:11
1617         5               1  2020-05-14 11:53:14 2020-05-14 11:53:11

      3_second_target 3_second_shift_forward
1616                0    2020-05-14 11:53:17
1617                0    2020-05-14 11:53:17

First 2 entries for (5, 2)
------------------------
     MII Reflux       Meas Meas Start Time pH Classification    doctor  \
1885     Reflux   Meas 94:       0:42:29.0              Acid  Autoscan
1886     Reflux  Meas 106:       0:42:29.0              Acid        ES

      patient2  Meas Start Day Meas Start TimeStamp      3_second_shift  \
1885         5               2  2020-05-14 00:42:29 2020-05-14 00:42:26
1886         5               2  2020-05-14 00:42:29 2020-05-14 00:42:26

      3_second_target 3_second_shift_forward
1885                0    2020-05-14 00:42:32
1886                0    2020-05-14 00:42:32

First 2 entries for (6, 1)
------------------------
     MII Reflux     Meas Meas Start Time pH Classification    doctor  \
2036     Reflux  Meas 1:      10:36:15.0           NonAcid  Autoscan
2037     Reflux  Meas 2:      10:40:10.0           NonAcid  Autoscan

      patient2  Meas Start Day Meas Start TimeStamp      3_second_shift  \
2036         6               1  2020-05-14 10:36:15 2020-05-14 10:36:12
2037         6               1  2020-05-14 10:40:10 2020-05-14 10:40:07

      3_second_target 3_second_shift_forward
2036                0    2020-05-14 10:36:18
2037                0    2020-05-14 10:40:13

First 2 entries for (6, 2)
------------------------
     MII Reflux       Meas Meas Start Time pH Classification    doctor  \
2326     Reflux  Meas 100:       2:15:49.1         MinorAcid        ES
2327     Reflux   Meas 92:       2:15:49.1           NonAcid  Autoscan

      patient2  Meas Start Day    Meas Start TimeStamp  \
2326         6               2 2020-05-14 02:15:49.100
2327         6               2 2020-05-14 02:15:49.100

              3_second_shift  3_second_target  3_second_shift_forward
2326 2020-05-14 02:15:46.100                0 2020-05-14 02:15:52.100
2327 2020-05-14 02:15:46.100                0 2020-05-14 02:15:52.100

First 2 entries for (7, 1)
------------------------
     MII Reflux      Meas Meas Start Time pH Classification doctor  patient2  \
2356     Reflux   Meas 7:      12:40:12.0              Acid    CPG         7
2357     Reflux  Meas 45:      14:51:12.6              Acid    CPG         7

      Meas Start Day    Meas Start TimeStamp          3_second_shift  \
2356               1 2020-05-14 12:40:12.000 2020-05-14 12:40:09.000
2357               1 2020-05-14 14:51:12.600 2020-05-14 14:51:09.600

      3_second_target  3_second_shift_forward
2356                0 2020-05-14 12:40:15.000
2357                0 2020-05-14 14:51:15.600

First 2 entries for (7, 2)
------------------------
     MII Reflux       Meas Meas Start Time pH Classification doctor  patient2  \
2380     Reflux  Meas 194:       0:33:09.0           NonAcid    CPG         7

      Meas Start Day Meas Start TimeStamp      3_second_shift  \
2380               2  2020-05-14 00:33:09 2020-05-14 00:33:06

      3_second_target 3_second_shift_forward
2380                0    2020-05-14 00:33:12

First 2 entries for (8, 1)
------------------------
     MII Reflux     Meas Meas Start Time pH Classification    doctor  \
2381     Reflux  Meas 1:      11:42:11.0           NonAcid       CPG
2382     Reflux  Meas 1:      11:42:11.0           NonAcid  Autoscan

      patient2  Meas Start Day Meas Start TimeStamp      3_second_shift  \
2381         8               1  2020-05-14 11:42:11 2020-05-14 11:42:08
2382         8               1  2020-05-14 11:42:11 2020-05-14 11:42:08

      3_second_target 3_second_shift_forward
2381                0    2020-05-14 11:42:14
2382                0    2020-05-14 11:42:14

First 2 entries for (8, 2)
------------------------
     MII Reflux       Meas Meas Start Time pH Classification doctor  patient2  \
2710     Reflux  Meas 149:       0:26:38.0              Acid     MF         8
2711     Reflux   Meas 87:       0:26:38.0              Acid    CPG         8

      Meas Start Day Meas Start TimeStamp      3_second_shift  \
2710               2  2020-05-14 00:26:38 2020-05-14 00:26:35
2711               2  2020-05-14 00:26:38 2020-05-14 00:26:35

      3_second_target 3_second_shift_forward
2710                0    2020-05-14 00:26:41
2711                0    2020-05-14 00:26:41

First 2 entries for (9, 1)
------------------------
     MII Reflux     Meas Meas Start Time pH Classification    doctor  \
2776     Reflux  Meas 1:      10:08:14.0           NonAcid  Autoscan
2777     Reflux  Meas 2:      10:09:05.0           NonAcid  Autoscan

      patient2  Meas Start Day Meas Start TimeStamp      3_second_shift  \
2776         9               1  2020-05-14 10:08:14 2020-05-14 10:08:11
2777         9               1  2020-05-14 10:09:05 2020-05-14 10:09:02

      3_second_target 3_second_shift_forward
2776                0    2020-05-14 10:08:17
2777                0    2020-05-14 10:09:08

First 2 entries for (9, 2)
------------------------
     MII Reflux       Meas Meas Start Time pH Classification doctor  patient2  \
3134     Reflux  Meas 105:       1:04:56.0              Acid     ES         9
3135     Reflux  Meas 109:       1:04:56.0              Acid     MF         9

      Meas Start Day Meas Start TimeStamp      3_second_shift  \
3134               2  2020-05-14 01:04:56 2020-05-14 01:04:53
3135               2  2020-05-14 01:04:56 2020-05-14 01:04:53

      3_second_target 3_second_shift_forward
3134                0    2020-05-14 01:04:59
3135                0    2020-05-14 01:04:59

First 2 entries for (10, 1)
------------------------
     MII Reflux     Meas Meas Start Time pH Classification doctor  patient2  \
3223     Reflux  Meas 2:      11:29:29.0           NonAcid     SR        10
3224     Reflux  Meas 2:      11:29:29.0         MinorAcid     ES        10

      Meas Start Day Meas Start TimeStamp      3_second_shift  \
3223               1  2020-05-14 11:29:29 2020-05-14 11:29:26
3224               1  2020-05-14 11:29:29 2020-05-14 11:29:26

      3_second_target 3_second_shift_forward
3223                0    2020-05-14 11:29:32
3224                0    2020-05-14 11:29:32

First 2 entries for (10, 2)
------------------------
     MII Reflux       Meas Meas Start Time pH Classification doctor  patient2  \
3546     Reflux  Meas 115:       0:25:17.6              Acid     MF        10
3547     Reflux  Meas 129:       0:40:47.1              Acid     ES        10

      Meas Start Day    Meas Start TimeStamp          3_second_shift  \
3546               2 2020-05-14 00:25:17.600 2020-05-14 00:25:14.600
3547               2 2020-05-14 00:40:47.100 2020-05-14 00:40:44.100

      3_second_target  3_second_shift_forward
3546                0 2020-05-14 00:25:20.600
3547                0 2020-05-14 00:40:50.100

First 2 entries for (11, 1)
------------------------
     MII Reflux     Meas Meas Start Time pH Classification doctor  patient2  \
3617     Reflux  Meas 2:      11:43:34.4              Acid     SR        11
3618     Reflux  Meas 1:      11:52:34.0              Acid     ES        11

      Meas Start Day    Meas Start TimeStamp          3_second_shift  \
3617               1 2020-05-14 11:43:34.400 2020-05-14 11:43:31.400
3618               1 2020-05-14 11:52:34.000 2020-05-14 11:52:31.000

      3_second_target  3_second_shift_forward
3617                0 2020-05-14 11:43:37.400
3618                0 2020-05-14 11:52:37.000

First 2 entries for (11, 2)
------------------------
     MII Reflux       Meas Meas Start Time pH Classification doctor  patient2  \
4066     Reflux  Meas 154:       0:03:55.0              Acid     DS        11
4067     Reflux  Meas 144:       0:03:55.0              Acid    CPG        11

      Meas Start Day Meas Start TimeStamp      3_second_shift  \
4066               2  2020-05-14 00:03:55 2020-05-14 00:03:52
4067               2  2020-05-14 00:03:55 2020-05-14 00:03:52

      3_second_target 3_second_shift_forward
4066                0    2020-05-14 00:03:58
4067                0    2020-05-14 00:03:58

First 2 entries for (12, 1)
------------------------
     MII Reflux     Meas Meas Start Time pH Classification doctor  patient2  \
4301     Reflux  Meas 1:      11:42:38.9           NonAcid     ES        12
4302     Reflux  Meas 1:      11:42:38.9           NonAcid    CPG        12

      Meas Start Day    Meas Start TimeStamp          3_second_shift  \
4301               1 2020-05-14 11:42:38.900 2020-05-14 11:42:35.900
4302               1 2020-05-14 11:42:38.900 2020-05-14 11:42:35.900

      3_second_target  3_second_shift_forward
4301                0 2020-05-14 11:42:41.900
4302                0 2020-05-14 11:42:41.900

First 2 entries for (12, 2)
------------------------
     MII Reflux       Meas Meas Start Time pH Classification doctor  patient2  \
4675     Reflux  Meas 161:       0:03:50.2              Acid     SR        12
4676     Reflux   Meas 99:       0:03:52.0              Acid     ES        12

      Meas Start Day    Meas Start TimeStamp          3_second_shift  \
4675               2 2020-05-14 00:03:50.200 2020-05-14 00:03:47.200
4676               2 2020-05-14 00:03:52.000 2020-05-14 00:03:49.000

      3_second_target  3_second_shift_forward
4675                0 2020-05-14 00:03:53.200
4676                0 2020-05-14 00:03:55.000

First 2 entries for (13, 1)
------------------------
     MII Reflux     Meas Meas Start Time pH Classification doctor  patient2  \
4805     Reflux  Meas 2:      12:22:58.0              Acid     MF        13
4806     Reflux  Meas 1:      12:22:58.0              Acid     DS        13

      Meas Start Day Meas Start TimeStamp      3_second_shift  \
4805               1  2020-05-14 12:22:58 2020-05-14 12:22:55
4806               1  2020-05-14 12:22:58 2020-05-14 12:22:55

      3_second_target 3_second_shift_forward
4805                0    2020-05-14 12:23:01
4806                0    2020-05-14 12:23:01

First 2 entries for (13, 2)
------------------------

     MII Reflux       Meas Meas Start Time pH Classification doctor  patient2  \
5051     Reflux  Meas 104:      10:01:43.0              Acid     MF        13
5052     Reflux  Meas 125:      10:01:43.0              Acid     SR        13

      Meas Start Day Meas Start TimeStamp      3_second_shift  \
5051               2  2020-05-14 10:01:43 2020-05-14 10:01:40
5052               2  2020-05-14 10:01:43 2020-05-14 10:01:40

      3_second_target 3_second_shift_forward
5051                0    2020-05-14 10:01:46
5052                0    2020-05-14 10:01:46

First 2 entries for (14, 1)
------------------------
     MII Reflux     Meas Meas Start Time pH Classification doctor  patient2  \
5144     Reflux  Meas 1:      15:25:53.1           NonAcid     DS        14
5145     Reflux  Meas 4:      16:13:06.0              Acid     SR        14

      Meas Start Day    Meas Start TimeStamp          3_second_shift  \
5144               1 2020-05-14 15:25:53.100 2020-05-14 15:25:50.100
5145               1 2020-05-14 16:13:06.000 2020-05-14 16:13:03.000

      3_second_target  3_second_shift_forward
5144                0 2020-05-14 15:25:56.100
5145                0 2020-05-14 16:13:09.000

First 2 entries for (14, 2)
------------------------
     MII Reflux      Meas Meas Start Time pH Classification doctor  patient2  \
5314     Reflux  Meas 62:       0:00:35.0              Acid     SR        14
5315     Reflux  Meas 58:       0:00:35.0              Acid     ES        14

      Meas Start Day Meas Start TimeStamp      3_second_shift  \
5314               2  2020-05-14 00:00:35 2020-05-14 00:00:32
5315               2  2020-05-14 00:00:35 2020-05-14 00:00:32

      3_second_target 3_second_shift_forward
5314                0    2020-05-14 00:00:38
5315                0    2020-05-14 00:00:38

First 2 entries for (15, 1)
------------------------
     MII Reflux     Meas Meas Start Time pH Classification    doctor  \
5446     Reflux  Meas 1:      15:21:34.0           NonAcid  Autoscan
5447     Reflux  Meas 1:      15:21:34.0           NonAcid        ES

      patient2  Meas Start Day Meas Start TimeStamp      3_second_shift  \
5446        15               1  2020-05-14 15:21:34 2020-05-14 15:21:31
5447        15               1  2020-05-14 15:21:34 2020-05-14 15:21:31

      3_second_target 3_second_shift_forward
5446                0    2020-05-14 15:21:37
5447                0    2020-05-14 15:21:37

First 2 entries for (15, 2)
------------------------
     MII Reflux       Meas Meas Start Time pH Classification    doctor  \
5815     Reflux  Meas 114:       0:01:06.0              Acid  Autoscan
5816     Reflux   Meas 90:       0:01:06.0              Acid        MF

      patient2  Meas Start Day Meas Start TimeStamp      3_second_shift  \
5815        15               2  2020-05-14 00:01:06 2020-05-14 00:01:03
5816        15               2  2020-05-14 00:01:06 2020-05-14 00:01:03

      3_second_target 3_second_shift_forward
5815                0    2020-05-14 00:01:09
5816                0    2020-05-14 00:01:09

First 2 entries for (16, 1)
------------------------
     MII Reflux      Meas Meas Start Time pH Classification    doctor  \
6207     Reflux  Meas 21:      10:00:54.0              Acid  Autoscan
6208     Reflux  Meas 18:      10:00:54.0              Acid        MF

      patient2  Meas Start Day Meas Start TimeStamp      3_second_shift  \
6207        16               1  2020-05-14 10:00:54 2020-05-14 10:00:51
6208        16               1  2020-05-14 10:00:54 2020-05-14 10:00:51

      3_second_target 3_second_shift_forward
6207                0    2020-05-14 10:00:57
6208                0    2020-05-14 10:00:57

First 2 entries for (16, 2)
------------------------
     MII Reflux       Meas Meas Start Time pH Classification    doctor  \
6523     Reflux  Meas 144:       3:46:58.0           NonAcid  Autoscan
6524     Reflux   Meas 81:       3:46:58.0           NonAcid        SR

      patient2  Meas Start Day Meas Start TimeStamp      3_second_shift  \
6523        16               2  2020-05-14 03:46:58 2020-05-14 03:46:55
6524        16               2  2020-05-14 03:46:58 2020-05-14 03:46:55

      3_second_target 3_second_shift_forward
6523                0    2020-05-14 03:47:01
6524                0    2020-05-14 03:47:01

First 2 entries for (17, 1)
------------------------
     MII Reflux     Meas Meas Start Time pH Classification    doctor  \
6528     Reflux  Meas 1:      10:57:03.0              Acid  Autoscan
6529     Reflux  Meas 1:      10:57:03.0              Acid        SR

      patient2  Meas Start Day Meas Start TimeStamp      3_second_shift  \
6528        17               1  2020-05-14 10:57:03 2020-05-14 10:57:00
6529        17               1  2020-05-14 10:57:03 2020-05-14 10:57:00

      3_second_target 3_second_shift_forward
6528                0    2020-05-14 10:57:06
6529                0    2020-05-14 10:57:06

First 2 entries for (17, 2)
------------------------
     MII Reflux       Meas Meas Start Time pH Classification    doctor  \
6860     Reflux  Meas 136:       0:43:35.0           NonAcid  Autoscan
6861     Reflux  Meas 100:       5:40:02.0              Acid        DS

      patient2  Meas Start Day Meas Start TimeStamp      3_second_shift  \
6860        17               2  2020-05-14 00:43:35 2020-05-14 00:43:32
6861        17               2  2020-05-14 05:40:02 2020-05-14 05:39:59

      3_second_target 3_second_shift_forward
6860                0    2020-05-14 00:43:38
6861                0    2020-05-14 05:40:05

First 2 entries for (18, 1)
------------------------
     MII Reflux      Meas Meas Start Time pH Classification doctor  patient2  \
6922     Reflux  Meas 25:      10:04:08.0              Acid     ES        18
6923     Reflux  Meas 24:      10:04:08.0              Acid     SR        18

      Meas Start Day Meas Start TimeStamp      3_second_shift  \
6922               1  2020-05-14 10:04:08 2020-05-14 10:04:05
6923               1  2020-05-14 10:04:08 2020-05-14 10:04:05

      3_second_target 3_second_shift_forward
6922                0    2020-05-14 10:04:11
6923                0    2020-05-14 10:04:11

First 2 entries for (18, 2)
------------------------
     MII Reflux       Meas Meas Start Time pH Classification doctor  patient2  \
7388     Reflux  Meas 144:       5:28:01.0              Acid     DS        18
7389     Reflux  Meas 137:       5:28:01.0              Acid     SR        18

      Meas Start Day Meas Start TimeStamp      3_second_shift  \
7388               2  2020-05-14 05:28:01 2020-05-14 05:27:58
7389               2  2020-05-14 05:28:01 2020-05-14 05:27:58

      3_second_target 3_second_shift_forward
7388                0    2020-05-14 05:28:04
7389                0    2020-05-14 05:28:04

First 2 entries for (19, 1)
------------------------
     MII Reflux      Meas Meas Start Time pH Classification doctor  patient2  \
7410     Reflux  Meas 41:      10:04:24.0              Acid     ES        19
7411     Reflux  Meas 35:      10:04:24.0              Acid     MF        19

      Meas Start Day Meas Start TimeStamp      3_second_shift  \
7410               1  2020-05-14 10:04:24 2020-05-14 10:04:21
7411               1  2020-05-14 10:04:24 2020-05-14 10:04:21

      3_second_target 3_second_shift_forward
7410                0    2020-05-14 10:04:27
7411                0    2020-05-14 10:04:27

First 2 entries for (19, 2)
------------------------
     MII Reflux       Meas Meas Start Time pH Classification    doctor  \
8272     Reflux  Meas 263:       0:47:29.0           NonAcid  Autoscan
8273     Reflux  Meas 250:       1:12:09.0              Acid        ES

      patient2  Meas Start Day Meas Start TimeStamp      3_second_shift  \
8272        19               2  2020-05-14 00:47:29 2020-05-14 00:47:26
8273        19               2  2020-05-14 01:12:09 2020-05-14 01:12:06

      3_second_target 3_second_shift_forward
8272                0    2020-05-14 00:47:32
8273                0    2020-05-14 01:12:12

First 2 entries for (20, 1)
------------------------
     MII Reflux      Meas Meas Start Time pH Classification doctor  patient2  \
8422     Reflux  Meas 29:      10:37:01.0              Acid    CPG        20
8423     Reflux  Meas 36:      10:37:01.0              Acid     ES        20

      Meas Start Day Meas Start TimeStamp      3_second_shift  \
8422               1  2020-05-14 10:37:01 2020-05-14 10:36:58
8423               1  2020-05-14 10:37:01 2020-05-14 10:36:58

      3_second_target 3_second_shift_forward
8422                0    2020-05-14 10:37:04
8423                0    2020-05-14 10:37:04

First 2 entries for (20, 2)
------------------------
     MII Reflux       Meas Meas Start Time pH Classification doctor  patient2  \
9024     Reflux  Meas 179:       0:30:40.0            W Acid     MF        20
9025     Reflux  Meas 180:       1:05:15.0              Acid     MF        20

      Meas Start Day Meas Start TimeStamp      3_second_shift  \
9024               2  2020-05-14 00:30:40 2020-05-14 00:30:37
9025               2  2020-05-14 01:05:15 2020-05-14 01:05:12

      3_second_target 3_second_shift_forward
9024                0    2020-05-14 00:30:43
9025                0    2020-05-14 01:05:18

In [93]:
frame[frame['Meas Start Day'] == 2]

,MII Reflux,Meas,Meas Start Time,pH Classification,doctor,patient2,Meas Start Day,Meas Start TimeStamp,3_second_shift,3_second_target,3_second_shift_forward
149,Reflux,Meas 75:,10:38:30.0,Acid,MF,1,2,2020-05-14 10:38:30,2020-05-14 10:38:27,0,2020-05-14 10:38:33
150,Reflux,Meas 71:,10:38:30.0,Acid,CPG,1,2,2020-05-14 10:38:30,2020-05-14 10:38:27,0,2020-05-14 10:38:33
151,Reflux,Meas 74:,10:38:30.0,Acid,Autoscan,1,2,2020-05-14 10:38:30,2020-05-14 10:38:27,0,2020-05-14 10:38:33
152,Reflux,Meas 78:,10:38:30.0,Acid,ES,1,2,2020-05-14 10:38:30,2020-05-14 10:38:27,0,2020-05-14 10:38:33
153,Reflux,Meas 87:,10:38:30.0,Acid,SR,1,2,2020-05-14 10:38:30,2020-05-14 10:38:27,0,2020-05-14 10:38:33
...,...,...,...,...,...,...,...,...,...,...,...
9086,Reflux,Meas 268:,5:26:31.0,NonAcid,Autoscan,20,2,2020-05-14 05:26:31,2020-05-14 05:26:28,0,2020-05-14 05:26:34
9087,Reflux,Meas 269:,5:34:19.0,NonAcid,Autoscan,20,2,2020-05-14 05:34:19,2020-05-14 05:34:16,0,2020-05-14 05:34:22
9088,Reflux,Meas 270:,5:35:14.0,NonAcid,Autoscan,20,2,2020-05-14 05:35:14,2020-05-14 05:35:11,0,2020-05-14 05:35:17
9089,Reflux,Meas 271:,5:52:08.0,NonAcid,Autoscan,20,2,2020-05-14 05:52:08,2020-05-14 05:52:05,0,2020-05-14 05:52:11
9090,Reflux,Meas 272:,5:55:19.0,NonAcid,Autoscan,20,2,2020-05-14 05:55:19,2020-05-14 05:55:16,0,2020-05-14 05:55:22